*~
.*.swp
*.pyc
*.so
*.lo
*.la
.dirstamp
.libs
.deps

/tags
/IGRAPH_VERSION
/VERSION
/aclocal.m4
/autom4te.cache
/build
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/igraph.pc
/igraph_Info.plist
/install-sh
/libtool
/ltmain.sh
/m4/lt*
/missing
/stamp-h1
/ylwrap
/igraph.msvc
/fatbuild
/valgrind-testbed
/Makefile
/src/Makefile
/doc/Makefile
/Makefile.in
/src/Makefile.in
/doc/Makefile.in
/debian/Makefile
/debian/Makefile.in
/doc/Makefile
/doc/Makefile.in
/doc/book/Makefile
/doc/book/Makefile.in
/src/Makefile
/src/Makefile.in
/tests/Makefile
/tests/Makefile.in
/interfaces/Makefile
/interfaces/Makefile.in
/interfaces/R/Makefile
/interfaces/R/Makefile.in
/interfaces/R/object_files
/interfaces/R/version_number
/interfaces/shell/Makefile
/interfaces/shell/Makefile.in

/src/*.o
/src/AMD/Source/*.o
/src/COLAMD/Source/*.o
/src/CHOLMOD/*/*.o
/src/SuiteSparse_config/*.o
/src/cs/*.o
/src/f2c/*.o
/src/lapack/*.o
/src/plfit/*.o
/src/prpack/*.o
/optional/glpk/*.o
/optional/glpk/amd/*.o
/optional/glpk/colamd/*.o


/src/foreign-*-lexer.c
/src/foreign-*-parser.c
/src/foreign-*-parser.h
/include/igraph_version.h
/include/igraph_threading.h

/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/testsuite
/tests/testsuite.dir
/tests/testsuite.log

/interfaces/java/build
/interfaces/java/dist
/interfaces/java/history.xml
/interfaces/java/src/c/config.h
/interfaces/java/src/c/net_sf_igraph_Graph.c
/interfaces/java/src/c/net_sf_igraph_Graph.h
/interfaces/java/src/java/Graph.java
/interfaces/java/src/java/Connectedness.java
/interfaces/java/src/java/NeighborMode.java
/interfaces/java/src/java/StarMode.java
/interfaces/java/reports
/interfaces/java/autom4te.cache
/interfaces/java/configure

/interfaces/R/DESCRIPTION
/interfaces/R/igraph/autom4te.cache
/interfaces/R/configure
/interfaces/R/configure.in
/interfaces/R/src/Makevars.win
/interfaces/R/src/config.h.in
/interfaces/R/arpack/stamp
/interfaces/R/igraph_*.tar.gz
/interfaces/R/igraphdata_*.tar.gz
/interfaces/R/igraph/src/
/interfaces/R/igraph/DESCRIPTION
/interfaces/R/igraph/NAMESPACE
/interfaces/R/igraph/config.log
/interfaces/R/igraph/config.status
/interfaces/R/igraph/configure
/interfaces/R/igraph/R/config.R
/interfaces/R/igraph/R/auto.R
/interfaces/R/igraph/src/*.cpp
/interfaces/R/igraph/src/*.c
/interfaces/R/igraph/src/*.cc
/interfaces/R/igraph/src/*.h
/interfaces/R/igraph/src/*.hh
/interfaces/R/igraph/src/*.pmt
/interfaces/R/igraph/src/Makevars
/interfaces/R/igraph/src/Makevars.in
/interfaces/R/igraph/src/Makevars.win
/interfaces/R/igraph/src/config.h.in
/interfaces/R/igraph/src/cs/UFconfig.h
/interfaces/R/igraph/src/cs/cs.h
/interfaces/R/igraph/src/dgetv0.f
/interfaces/R/igraph/src/dlaqrb.f
/interfaces/R/igraph/src/dmout.f
/interfaces/R/igraph/src/dnaitr.f
/interfaces/R/igraph/src/dnapps.f
/interfaces/R/igraph/src/dnaup2.f
/interfaces/R/igraph/src/dnaupd.f
/interfaces/R/igraph/src/dnconv.f
/interfaces/R/igraph/src/dneigh.f
/interfaces/R/igraph/src/dneupd.f
/interfaces/R/igraph/src/dngets.f
/interfaces/R/igraph/src/dsaitr.f
/interfaces/R/igraph/src/dsapps.f
/interfaces/R/igraph/src/dsaup2.f
/interfaces/R/igraph/src/dsaupd.f
/interfaces/R/igraph/src/dsconv.f
/interfaces/R/igraph/src/dseigt.f
/interfaces/R/igraph/src/dsesrt.f
/interfaces/R/igraph/src/dseupd.f
/interfaces/R/igraph/src/dsgets.f
/interfaces/R/igraph/src/dsortc.f
/interfaces/R/igraph/src/dsortr.f
/interfaces/R/igraph/src/dstatn.f
/interfaces/R/igraph/src/dstats.f
/interfaces/R/igraph/src/dstqrb.f
/interfaces/R/igraph/src/dvout.f
/interfaces/R/igraph/src/ivout.f
/interfaces/R/igraph/src/second.f
/interfaces/R/igraph/configure.in
/interfaces/R/igraph/src/glpk/glpapi.h
/interfaces/R/igraph/src/glpk/glpavl.h
/interfaces/R/igraph/src/glpk/glpbfd.h
/interfaces/R/igraph/src/glpk/glpbfx.h
/interfaces/R/igraph/src/glpk/glpdmp.h
/interfaces/R/igraph/src/glpk/glpenv.h
/interfaces/R/igraph/src/glpk/glpfhv.h
/interfaces/R/igraph/src/glpk/glpgmp.h
/interfaces/R/igraph/src/glpk/glphbm.h
/interfaces/R/igraph/src/glpk/glpios.h
/interfaces/R/igraph/src/glpk/glpipm.h
/interfaces/R/igraph/src/glpk/glpk.h
/interfaces/R/igraph/src/glpk/glplib.h
/interfaces/R/igraph/src/glpk/glplpf.h
/interfaces/R/igraph/src/glpk/glpluf.h
/interfaces/R/igraph/src/glpk/glplux.h
/interfaces/R/igraph/src/glpk/glpmat.h
/interfaces/R/igraph/src/glpk/glpmpl.h
/interfaces/R/igraph/src/glpk/glpnet.h
/interfaces/R/igraph/src/glpk/glpnpp.h
/interfaces/R/igraph/src/glpk/glpqmd.h
/interfaces/R/igraph/src/glpk/glprgr.h
/interfaces/R/igraph/src/glpk/glprng.h
/interfaces/R/igraph/src/glpk/glpscf.h
/interfaces/R/igraph/src/glpk/glpspm.h
/interfaces/R/igraph/src/glpk/glpspx.h
/interfaces/R/igraph/src/glpk/glpsql.h
/interfaces/R/igraph/src/glpk/glpssx.h
/interfaces/R/igraph/src/glpk/glpstd.h
/interfaces/R/igraph/src/glpk/glptsp.h
/interfaces/R/igraph/src/glpk/amd/amd.h
/interfaces/R/igraph/src/glpk/amd/amd_internal.h
/interfaces/R/igraph/src/glpk/colamd/colamd.h

/examples/simple/*.c.xml
/examples/tests/*.c.xml

/doc/html/stamp
/doc/tags
/doc/adjlist.xml
/doc/arpack.xml
/doc/attributes.xml
/doc/basicigraph.xml
/doc/bipartite.xml
/doc/cliques.xml
/doc/community.xml
/doc/dqueue.xml
/doc/error.xml
/doc/flows.xml
/doc/foreign.xml
/doc/generators.xml
/doc/heap.xml
/doc/hrg.xml
/doc/isomorphism.xml
/doc/iterators.xml
/doc/layout.xml
/doc/matrix.xml
/doc/memory.xml
/doc/motifs.xml
/doc/nongraph.xml
/doc/operators.xml
/doc/random.xml
/doc/separators.xml
/doc/sparsemat.xml
/doc/sparsematrix.xml
/doc/stack.xml
/doc/structural.xml
/doc/strvector.xml
/doc/vector.xml
/doc/visitors.xml
/doc/spatialgames.xml
/doc/progress.xml
/doc/scg.xml
/doc/status.xml
/doc/threading.xml
/doc/graphlets.xml
/doc/coloring.xml
/doc/embedding.xml
/doc/igraph-docs0.xml
/doc/tutorial-info.xml
/doc/igraph-docs-info.xml
/doc/igraph-docs-info2.xml
/doc/igraph-docs-info3.xml
/doc/igraph-docs-info4.xml
/doc/igraph-docs.fo
/doc/igraph-docs.pdf
/doc/igraph-docs2.xml
/doc/igraph-docs3.xml
/doc/igraph-docs4.xml
/doc/igraph.info
/doc/igraph.info.orig
/doc/igraph.texi
/doc/igraph.txml
/doc/html/*.html
/doc/jekyll

/nexus/cgi-bin/.openid_secret_key
/nexus/sessions/*
/nexus/config/emailpass
/nexus/config/Rscript
/nexus/data/*

/www/_site
/www/_includes/igraph-rversion
/www/_includes/igraph-version
/www/r/doc/
/www/c/doc/
/www/python/doc/
/www/stamp
/interfaces/R/igraph/man/*.Rd
*.o
*.exe
igraph-*-msvc.zip
igraph-*-msvc/
igraphtest/

.vscode/
