.*.swp
*.pyc
*.so
INSTALL
/VERSION
/Makefile
/src/Makefile
/doc/Makefile
/Makefile.in
/src/Makefile.in
/doc/Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
igraph.pc
igraph_Info.plist
install-sh
libtool
ltmain.sh
missing
stamp-h1
ylwrap
debian/Makefile
debian/Makefile.in
interfaces/Makefile
interfaces/Makefile.in
interfaces/R/Makefile
interfaces/R/Makefile.in
interfaces/R/autom4te.cache
interfaces/R/configure
interfaces/R/configure.in
interfaces/R/igraph_*.tar.gz
interfaces/R/igraph/DESCRIPTION
interfaces/R/igraph/NAMESPACE
interfaces/R/igraph/config.log
interfaces/R/igraph/config.status
interfaces/R/igraph/configure
interfaces/R/igraph/R/config.R
interfaces/R/igraph/R/auto.R
interfaces/R/igraph/src/*.cpp
interfaces/R/igraph/src/*.c
interfaces/R/igraph/src/*.cc
interfaces/R/igraph/src/*.h
interfaces/R/igraph/src/*.hh
*.lo
interfaces/R/igraph/src/*.pmt
*.la
doc/Makefile
doc/Makefile.in
doc/book/Makefile
doc/book/Makefile.in
interfaces/R/igraph/src/Makevars
interfaces/R/igraph/src/Makevars.in
interfaces/R/igraph/src/Makevars.win
interfaces/R/igraph/src/config.h.in
interfaces/R/src/Makevars.win
interfaces/java/autom4te.cache
interfaces/java/configure
.deps
.libs
interfaces/shell/Makefile
interfaces/shell/Makefile.in
src/Makefile
src/Makefile.in
tests/Makefile
tests/Makefile.in
tests/atconfig
tests/atlocal
src/foreign-*-lexer.c
src/foreign-*-parser.c
src/foreign-*-parser.h
igraph.msvc
tests/package.m4
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
interfaces/python/doc/api/*
interfaces/python/doc/build/doctrees
interfaces/python/doc/build/html
interfaces/python/build
interfaces/python/dist
interfaces/python/python_igraph.egg-info
interfaces/R/igraph/src/cs/UFconfig.h
interfaces/R/igraph/src/cs/cs.h
interfaces/java/build
interfaces/java/dist
interfaces/java/history.xml
interfaces/java/src/c/config.h
interfaces/java/src/c/net_sf_igraph_Graph.c
interfaces/java/src/c/net_sf_igraph_Graph.h
interfaces/java/src/java/Graph.java
interfaces/java/src/java/Connectedness.java
interfaces/java/src/java/NeighborMode.java
interfaces/java/src/java/StarMode.java
interfaces/java/reports
fatbuild
valgrind-testbed
include/igraph_version.h
interfaces/R/igraph/src/dgetv0.f
interfaces/R/igraph/src/dlaqrb.f
interfaces/R/igraph/src/dmout.f
interfaces/R/igraph/src/dnaitr.f
interfaces/R/igraph/src/dnapps.f
interfaces/R/igraph/src/dnaup2.f
interfaces/R/igraph/src/dnaupd.f
interfaces/R/igraph/src/dnconv.f
interfaces/R/igraph/src/dneigh.f
interfaces/R/igraph/src/dneupd.f
interfaces/R/igraph/src/dngets.f
interfaces/R/igraph/src/dsaitr.f
interfaces/R/igraph/src/dsapps.f
interfaces/R/igraph/src/dsaup2.f
interfaces/R/igraph/src/dsaupd.f
interfaces/R/igraph/src/dsconv.f
interfaces/R/igraph/src/dseigt.f
interfaces/R/igraph/src/dsesrt.f
interfaces/R/igraph/src/dseupd.f
interfaces/R/igraph/src/dsgets.f
interfaces/R/igraph/src/dsortc.f
interfaces/R/igraph/src/dsortr.f
interfaces/R/igraph/src/dstatn.f
interfaces/R/igraph/src/dstats.f
interfaces/R/igraph/src/dstqrb.f
interfaces/R/igraph/src/dvout.f
interfaces/R/igraph/src/ivout.f
interfaces/R/igraph/src/second.f
examples/simple/2wheap.c.xml
examples/simple/adjlist.c.xml
examples/simple/assortativity.c.xml
examples/simple/bellman_ford.c.xml
examples/simple/biguint.c.xml
examples/simple/biguint_betweenness.c.xml
examples/simple/blas.c.xml
examples/simple/cattributes.c.xml
examples/simple/cattributes2.c.xml
examples/simple/cattributes3.c.xml
examples/simple/cattributes4.c.xml
examples/simple/centralization.c.xml
examples/simple/cohesive_blocks.c.xml
examples/simple/d_indheap.c.xml
examples/simple/dijkstra.c.xml
examples/simple/dominator_tree.c.xml
examples/simple/dot.c.xml
examples/simple/dqueue.c.xml
examples/simple/eigenvector_centrality.c.xml
examples/simple/even_tarjan.c.xml
examples/simple/flow.c.xml
examples/simple/flow2.c.xml
examples/simple/foreign.c.xml
examples/simple/gml.c.xml
examples/simple/graphml.c.xml
examples/simple/heap.c.xml
examples/simple/igraph_add_edges.c.xml
examples/simple/igraph_add_vertices.c.xml
examples/simple/igraph_adjacency.c.xml
examples/simple/igraph_all_st_cuts.c.xml
examples/simple/igraph_all_st_mincuts.c.xml
examples/simple/igraph_are_connected.c.xml
examples/simple/igraph_array.c.xml
examples/simple/igraph_atlas.c.xml
examples/simple/igraph_average_path_length.c.xml
examples/simple/igraph_barabasi_game.c.xml
examples/simple/igraph_barabasi_game2.c.xml
examples/simple/igraph_betweenness.c.xml
examples/simple/igraph_bfs.c.xml
examples/simple/igraph_bfs2.c.xml
examples/simple/igraph_biconnected_components.c.xml
examples/simple/igraph_bipartite_create.c.xml
examples/simple/igraph_bipartite_projection.c.xml
examples/simple/igraph_cliques.c.xml
examples/simple/igraph_cocitation.c.xml
examples/simple/igraph_community_edge_betweenness.c.xml
examples/simple/igraph_community_fastgreedy.c.xml
examples/simple/igraph_community_label_propagation.c.xml
examples/simple/igraph_community_leading_eigenvector.c.xml
examples/simple/igraph_community_multilevel.c.xml
examples/simple/igraph_community_optimal_modularity.c.xml
examples/simple/igraph_complementer.c.xml
examples/simple/igraph_complex.c.xml
examples/simple/igraph_compose.c.xml
examples/simple/igraph_convergence_degree.c.xml
examples/simple/igraph_convex_hull.c.xml
examples/simple/igraph_copy.c.xml
examples/simple/igraph_create.c.xml
examples/simple/igraph_decompose.c.xml
examples/simple/igraph_degree.c.xml
examples/simple/igraph_degree_sequence_game.c.xml
examples/simple/igraph_delete_edges.c.xml
examples/simple/igraph_delete_vertices.c.xml
examples/simple/igraph_diameter.c.xml
examples/simple/igraph_difference.c.xml
examples/simple/igraph_disjoint_union.c.xml
examples/simple/igraph_eccentricity.c.xml
examples/simple/igraph_edge_betweenness.c.xml
examples/simple/igraph_eigen_matrix_symmetric.c.xml
examples/simple/igraph_empty.c.xml
examples/simple/igraph_erdos_renyi_game.c.xml
examples/simple/igraph_es_adj.c.xml
examples/simple/igraph_es_fromto.c.xml
examples/simple/igraph_es_pairs.c.xml
examples/simple/igraph_es_path.c.xml
examples/simple/igraph_feedback_arc_set.c.xml
examples/simple/igraph_feedback_arc_set_ip.c.xml
examples/simple/igraph_fisher_yates_shuffle.c.xml
examples/simple/igraph_full.c.xml
examples/simple/igraph_get_all_shortest_paths_dijkstra.c.xml
examples/simple/igraph_get_eid.c.xml
examples/simple/igraph_get_eids.c.xml
examples/simple/igraph_get_shortest_paths.c.xml
examples/simple/igraph_get_shortest_paths_dijkstra.c.xml
examples/simple/igraph_girth.c.xml
examples/simple/igraph_grg_game.c.xml
examples/simple/igraph_growing_random_game.c.xml
examples/simple/igraph_has_multiple.c.xml
examples/simple/igraph_hashtable.c.xml
examples/simple/igraph_hrg.c.xml
examples/simple/igraph_hrg2.c.xml
examples/simple/igraph_hrg3.c.xml
examples/simple/igraph_i_cutheap.c.xml
examples/simple/igraph_i_layout_sphere.c.xml
examples/simple/igraph_independent_sets.c.xml
examples/simple/igraph_induced_subgraph_map.c.xml
examples/simple/igraph_intersection.c.xml
examples/simple/igraph_is_directed.c.xml
examples/simple/igraph_is_loop.c.xml
examples/simple/igraph_is_minimal_separator.c.xml
examples/simple/igraph_is_multiple.c.xml
examples/simple/igraph_is_separator.c.xml
examples/simple/igraph_isomorphic_vf2.c.xml
examples/simple/igraph_knn.c.xml
examples/simple/igraph_lapack_dgeev.c.xml
examples/simple/igraph_lapack_dgeevx.c.xml
examples/simple/igraph_lapack_dgesv.c.xml
examples/simple/igraph_lapack_dsyevr.c.xml
examples/simple/igraph_laplacian.c.xml
examples/simple/igraph_lattice.c.xml
examples/simple/igraph_layout_grid.c.xml
examples/simple/igraph_layout_lgl.c.xml
examples/simple/igraph_layout_mds.c.xml
examples/simple/igraph_layout_merge.c.xml
examples/simple/igraph_layout_reingold_tilford.c.xml
examples/simple/igraph_layout_sugiyama.c.xml
examples/simple/igraph_lcf.c.xml
examples/simple/igraph_local_transitivity.c.xml
examples/simple/igraph_marked_queue.c.xml
examples/simple/igraph_maximal_cliques.c.xml
examples/simple/igraph_mincut.c.xml
examples/simple/igraph_minimal_separators.c.xml
examples/simple/igraph_minimum_size_separators.c.xml
examples/simple/igraph_minimum_spanning_tree.c.xml
examples/simple/igraph_moran_process.c.xml
examples/simple/igraph_motifs_randesu.c.xml
examples/simple/igraph_neighbors.c.xml
examples/simple/igraph_pagerank.c.xml
examples/simple/igraph_preference_game.c.xml
examples/simple/igraph_psumtree.c.xml
examples/simple/igraph_radius.c.xml
examples/simple/igraph_random_sample.c.xml
examples/simple/igraph_read_graph_dl.c.xml
examples/simple/igraph_read_graph_graphdb.c.xml
examples/simple/igraph_read_graph_lgl.c.xml
examples/simple/igraph_reciprocity.c.xml
examples/simple/igraph_rewire.c.xml
examples/simple/igraph_ring.c.xml
examples/simple/igraph_roulette_wheel_imitation.c.xml
examples/simple/igraph_set.c.xml
examples/simple/igraph_similarity.c.xml
examples/simple/igraph_simplify.c.xml
examples/simple/igraph_small.c.xml
examples/simple/igraph_sparsemat.c.xml
examples/simple/igraph_sparsemat2.c.xml
examples/simple/igraph_sparsemat3.c.xml
examples/simple/igraph_sparsemat4.c.xml
examples/simple/igraph_sparsemat5.c.xml
examples/simple/igraph_sparsemat6.c.xml
examples/simple/igraph_sparsemat7.c.xml
examples/simple/igraph_sparsemat8.c.xml
examples/simple/igraph_star.c.xml
examples/simple/igraph_stochastic_imitation.c.xml
examples/simple/igraph_strvector.c.xml
examples/simple/igraph_to_undirected.c.xml
examples/simple/igraph_topological_sorting.c.xml
examples/simple/igraph_transitive_closure_dag.c.xml
examples/simple/igraph_transitivity.c.xml
examples/simple/igraph_tree.c.xml
examples/simple/igraph_trie.c.xml
examples/simple/igraph_union.c.xml
examples/simple/igraph_version.c.xml
examples/simple/igraph_vs_nonadj.c.xml
examples/simple/igraph_vs_seq.c.xml
examples/simple/igraph_vs_vector.c.xml
examples/simple/igraph_weighted_adjacency.c.xml
examples/simple/igraph_write_graph_leda.c.xml
examples/simple/igraph_write_graph_lgl.c.xml
examples/simple/igraph_write_graph_pajek.c.xml
examples/simple/indheap.c.xml
examples/simple/lineendings.c.xml
examples/simple/matrix.c.xml
examples/simple/matrix2.c.xml
examples/simple/mt.c.xml
examples/simple/pajek.c.xml
examples/simple/random_seed.c.xml
examples/simple/single_target_shortest_path.c.xml
examples/simple/spinglass.c.xml
examples/simple/spmatrix.c.xml
examples/simple/stack.c.xml
examples/simple/topology.c.xml
examples/simple/vector.c.xml
examples/simple/vector2.c.xml
examples/simple/vector_ptr.c.xml
examples/simple/walktrap.c.xml
examples/simple/watts_strogatz_game.c.xml
interfaces/R/arpack/stamp
doc/html/stamp
doc/tags
doc/adjlist.xml
doc/arpack.xml
doc/attributes.xml
doc/basicigraph.xml
doc/bipartite.xml
doc/cliques.xml
doc/community.xml
doc/dqueue.xml
doc/error.xml
doc/flows.xml
doc/foreign.xml
doc/generators.xml
doc/heap.xml
doc/hrg.xml
doc/isomorphism.xml
doc/iterators.xml
doc/layout.xml
doc/matrix.xml
doc/memory.xml
doc/motifs.xml
doc/nongraph.xml
doc/operators.xml
doc/random.xml
doc/separators.xml
doc/sparsemat.xml
doc/sparsematrix.xml
doc/stack.xml
doc/structural.xml
doc/strvector.xml
doc/vector.xml
doc/visitors.xml
examples/simple/igraph_deterministic_optimal_imitation.c.xml
doc/spatialgames.xml
doc/html/*.html
interfaces/R/igraph/tests/add.edges.Rout
interfaces/R/igraph/tests/add.vertices.Rout
interfaces/R/igraph/tests/all.st.cuts.Rout
interfaces/R/igraph/tests/alpha.centrality.Rout
interfaces/R/igraph/tests/are.connected.Rout
interfaces/R/igraph/tests/arpack.Rout
interfaces/R/igraph/tests/articulation.points.Rout
interfaces/R/igraph/tests/as.directed.Rout
interfaces/R/igraph/tests/as.undirected.Rout
interfaces/R/igraph/tests/assortativity.Rout
interfaces/R/igraph/tests/attributes.Rout
interfaces/R/igraph/tests/authority.score.Rout
interfaces/R/igraph/tests/average.path.length.Rout
interfaces/R/igraph/tests/ba.game.Rout
interfaces/R/igraph/tests/betweenness.Rout
interfaces/R/igraph/tests/biconnected.components.Rout
interfaces/R/igraph/tests/bipartite.projection.Rout
interfaces/R/igraph/tests/bonpow.Rout
interfaces/R/igraph/tests/canonical.permutation.Rout
interfaces/R/igraph/tests/cliques.Rout
interfaces/R/igraph/tests/closeness.Rout
interfaces/R/igraph/tests/clusters.Rout
interfaces/R/igraph/tests/cohesive.blocks.Rout
interfaces/R/igraph/tests/communities.Rout
interfaces/R/igraph/tests/constraint.Rout
interfaces/R/igraph/tests/contract.vertices.Rout
interfaces/R/igraph/tests/count.multiple.Rout
interfaces/R/igraph/tests/decompose.graph.Rout
interfaces/R/igraph/tests/degree.Rout
interfaces/R/igraph/tests/degree.sequence.game.Rout
interfaces/R/igraph/tests/delete.edges.Rout
interfaces/R/igraph/tests/delete.vertices.Rout
interfaces/R/igraph/tests/diameter.Rout
interfaces/R/igraph/tests/dominator.tree.Rout
interfaces/R/igraph/tests/dyad.census.Rout
interfaces/R/igraph/tests/edge.betweenness.Rout
interfaces/R/igraph/tests/edge.betweenness.community.Rout
interfaces/R/igraph/tests/edge.connectivity.Rout
interfaces/R/igraph/tests/edgenames.Rout
interfaces/R/igraph/tests/evcent.Rout
interfaces/R/igraph/tests/fartherst.nodes.Rout
interfaces/R/igraph/tests/fastgreedy.community.Rout
interfaces/R/igraph/tests/forestfire.Rout
interfaces/R/igraph/tests/get.adjacency.Rout
interfaces/R/igraph/tests/get.adjlist.Rout
interfaces/R/igraph/tests/get.all.shortest.paths.Rout
interfaces/R/igraph/tests/get.diameter.Rout
interfaces/R/igraph/tests/get.edge.Rout
interfaces/R/igraph/tests/get.edgelist.Rout
interfaces/R/igraph/tests/get.incidence.Rout
interfaces/R/igraph/tests/get.shortest.paths.Rout
interfaces/R/igraph/tests/girth.Rout
interfaces/R/igraph/tests/graph.adhesion.Rout
interfaces/R/igraph/tests/graph.adjacency.Rout
interfaces/R/igraph/tests/graph.adjlist.Rout
interfaces/R/igraph/tests/graph.atlas.Rout
interfaces/R/igraph/tests/graph.bfs.Rout
interfaces/R/igraph/tests/graph.bipartite.Rout
interfaces/R/igraph/tests/graph.complementer.Rout
interfaces/R/igraph/tests/graph.compose.Rout
interfaces/R/igraph/tests/graph.coreness.Rout
interfaces/R/igraph/tests/graph.data.frame.Rout
interfaces/R/igraph/tests/graph.de.bruijn.Rout
interfaces/R/igraph/tests/graph.density.Rout
interfaces/R/igraph/tests/graph.edgelist.Rout
interfaces/R/igraph/tests/graph.isoclass.Rout
interfaces/R/igraph/tests/graph.kautz.Rout
interfaces/R/igraph/tests/graph.knn.Rout
interfaces/R/igraph/tests/graph.maxflow.Rout
interfaces/R/igraph/tests/graph.mincut.Rout
interfaces/R/igraph/tests/graph.subisomorphic.vf2.Rout
interfaces/R/igraph/tests/graphNEL.Rout
interfaces/R/igraph/tests/igraph.options.Rout
interfaces/R/igraph/tests/independent.vertex.sets.Rout
interfaces/R/igraph/tests/indexing.Rout
interfaces/R/igraph/tests/indexing2.Rout
interfaces/R/igraph/tests/is.bipartite.Rout
interfaces/R/igraph/tests/is.chordal.Rout
interfaces/R/igraph/tests/iterators.Rout
interfaces/R/igraph/tests/label.propagation.community.Rout
interfaces/R/igraph/tests/largest.cliques.Rout
interfaces/R/igraph/tests/largest.independent.vertex.sets.Rout
interfaces/R/igraph/tests/leading.eigenvector.community.Rout
interfaces/R/igraph/tests/minimal.st.separators.Rout
interfaces/R/igraph/tests/minimum.size.separators.Rout
interfaces/R/igraph/tests/motifs.Rout
interfaces/R/igraph/tests/multilevel.community.Rout
interfaces/R/igraph/tests/neighborhood.Rout
interfaces/R/igraph/tests/neighbors.Rout
interfaces/R/igraph/tests/operators.Rout
interfaces/R/igraph/tests/operators3.Rout
interfaces/R/igraph/tests/optimal.community.Rout
interfaces/R/igraph/tests/pajek.Rout
interfaces/R/igraph/tests/print.Rout
interfaces/R/igraph/tests/unfold.tree.Rout
interfaces/R/igraph/tests/walktrap.community.Rout
interfaces/R/igraph/tests/watts.strogatz.game.Rout
interfaces/R/igraph/tests/startup.Rs
examples/simple/igraph_community_infomap.c.xml
nexus/cgi-bin/.openid_secret_key
nexus/sessions/*
nexus/config/emailpass
nexus/config/Rscript
nexus/data/*
include/igraph_threading.h
interfaces/R/igraphdata_0.1.tar.gz
interfaces/R/igraph/configure.in
interfaces/R/igraph/src/glpk/glpapi.h
interfaces/R/igraph/src/glpk/glpavl.h
interfaces/R/igraph/src/glpk/glpbfd.h
interfaces/R/igraph/src/glpk/glpbfx.h
interfaces/R/igraph/src/glpk/glpdmp.h
interfaces/R/igraph/src/glpk/glpenv.h
interfaces/R/igraph/src/glpk/glpfhv.h
interfaces/R/igraph/src/glpk/glpgmp.h
interfaces/R/igraph/src/glpk/glphbm.h
interfaces/R/igraph/src/glpk/glpios.h
interfaces/R/igraph/src/glpk/glpipm.h
interfaces/R/igraph/src/glpk/glpk.h
interfaces/R/igraph/src/glpk/glplib.h
interfaces/R/igraph/src/glpk/glplpf.h
interfaces/R/igraph/src/glpk/glpluf.h
interfaces/R/igraph/src/glpk/glplux.h
interfaces/R/igraph/src/glpk/glpmat.h
interfaces/R/igraph/src/glpk/glpmpl.h
interfaces/R/igraph/src/glpk/glpnet.h
interfaces/R/igraph/src/glpk/glpnpp.h
interfaces/R/igraph/src/glpk/glpqmd.h
interfaces/R/igraph/src/glpk/glprgr.h
interfaces/R/igraph/src/glpk/glprng.h
interfaces/R/igraph/src/glpk/glpscf.h
interfaces/R/igraph/src/glpk/glpspm.h
interfaces/R/igraph/src/glpk/glpspx.h
interfaces/R/igraph/src/glpk/glpsql.h
interfaces/R/igraph/src/glpk/glpssx.h
interfaces/R/igraph/src/glpk/glpstd.h
interfaces/R/igraph/src/glpk/glptsp.h
interfaces/R/igraph/src/glpk/amd/amd.h
interfaces/R/igraph/src/glpk/amd/amd_internal.h
interfaces/R/igraph/src/glpk/colamd/colamd.h
/src/*.o
*~
/interfaces/R/igraph/src/
/interfaces/R/igraphdata_*.tar.gz
