
language: c
cache: ccache
# dist: xenial
os: linux

# Ignore branches with names starting with certain keywords:
branches:
  except:
  - /^(appveyor|github)\/.+$/

env:
  global:
    - CMAKE_GENERATOR=Ninja   # build with ninja instead of make
    - CTEST_PARALLEL_LEVEL=2  # run tests in parallel
    - PATH="/snap/bin:$PATH"  # needed in order to run the cmake installed with snap

git:
  depth: 200    # to make sure we find the latest tag when building. Increase if not enough.

addons:
  apt:
    packages:
    - ninja-build
    - flex
    - bison
#    - docbook2x
#    - xmlto
#    - texinfo
#    - source-highlight
#    - libxml2-utils
#    - xsltproc
#    - fop
    - libgmp-dev
    - libglpk-dev
    - libarpack2-dev
#    - libblas-dev
#    - liblapack-dev
    - libopenblas-dev
    - libsuitesparse-dev
    - libxml2-dev
    - git
    - colordiff
  snaps:
    - name: cmake
      confinement: classic

# configuration (running cmake) is in before_script
# if this phase fails, the build stops immediately
before_script:
  - mkdir build && cd build
  - cmake .. -DIGRAPH_USE_INTERNAL_BLAS=ON -DIGRAPH_USE_INTERNAL_LAPACK=ON -DIGRAPH_USE_INTERNAL_ARPACK=ON -DIGRAPH_USE_INTERNAL_GLPK=ON -DIGRAPH_USE_INTERNAL_CXSPARSE=ON -DIGRAPH_USE_INTERNAL_GMP=ON -DIGRAPH_VERIFY_FINALLY_STACK=ON -DCMAKE_BUILD_TYPE=Debug -DIGRAPH_ENABLE_LTO=AUTO -DIGRAPH_PRINT_ARITH_HEADER=ON -DUSE_SANITIZER=Address\;Undefined

# building and testing is in script
# use && to ensure that ctest is not run if the build failed
script:
  - cmake --build . --target build_tests && ctest --output-on-failure

after_failure:
  - for file in tests/*.diff; do cat "$file" | colordiff; done

jobs:
  include:
    # - name: "Linux"
    #   os: linux

    - name: "Linux arm64"
      os: linux
      arch: arm64-graviton2 # faster than arm64

    - name: "Linux arm64 external"
      os: linux
      arch: arm64-graviton2 # faster than arm64
      before_script:
        - mkdir build && cd build
        - cmake .. -DIGRAPH_USE_INTERNAL_BLAS=OFF -DIGRAPH_USE_INTERNAL_LAPACK=OFF -DIGRAPH_USE_INTERNAL_ARPACK=OFF -DIGRAPH_USE_INTERNAL_GLPK=OFF -DIGRAPH_USE_INTERNAL_CXSPARSE=OFF -DIGRAPH_USE_INTERNAL_GMP=OFF -DIGRAPH_VERIFY_FINALLY_STACK=ON -DBLA_VENDOR=OpenBLAS -DCMAKE_BUILD_TYPE=Debug -DIGRAPH_ENABLE_LTO=AUTO -DIGRAPH_PRINT_ARITH_HEADER=ON -DUSE_SANITIZER=Address\;Undefined

    - name: "Linux ppc64"
      os: linux
      dist: focal # Snap fails with ppc64 on earlier Ubuntu.
      arch: ppc64le

    - name: "Linux s390x"
      os: linux
      dist: focal # Some packages are missing in earlier Ubuntu on this platform.
      arch: s390x
      # Do not enable ASan, as it leads to linking errors.
      # This is possibly a conflict with LTO.
      before_script:
        - mkdir build && cd build
        - cmake .. -DIGRAPH_USE_INTERNAL_BLAS=ON -DIGRAPH_USE_INTERNAL_LAPACK=ON -DIGRAPH_USE_INTERNAL_ARPACK=ON -DIGRAPH_USE_INTERNAL_GLPK=ON -DIGRAPH_USE_INTERNAL_CXSPARSE=ON -DIGRAPH_USE_INTERNAL_GMP=ON -DIGRAPH_VERIFY_FINALLY_STACK=ON -DCMAKE_BUILD_TYPE=Debug -DIGRAPH_ENABLE_LTO=AUTO -DIGRAPH_PRINT_ARITH_HEADER=ON

notifications:
  email:
    on_success: change
    on_failure: always
