# Ignore branches with names starting with certain keywords:
branches:
  except:
  - /^(github|travis)\/.+$/

# We always use a 64-bit machine, but can build x86 distributions
platform:
    - x64

environment:
    global:
        VCPKG_DEFAULT_TRIPLET: x64-windows-static

    matrix:
        - job_name: Static
        - job_name: Dynamic

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
  - C:\Tools\vcpkg\installed -> appveyor.yml

install:
    # Install dependencies for MSVC build
    - choco install winflexbison

    # Choose VS 2015, https://www.appveyor.com/docs/lang/cpp/#visual-studio-2015
    - call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64
    - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86_amd64

    # Update vcpkg, as included version does not have GMP
    # https://www.appveyor.com/docs/lang/cpp/#vc-packaging-tool
    - cd C:\Tools\vcpkg
    # - git pull --quiet
    # - .\bootstrap-vcpkg.bat -disableMetrics
    # - vcpkg install yasm-tool:x86-windows
    # - vcpkg install gmp
    - vcpkg install libxml2
    - vcpkg integrate install

for:
    - matrix:
        only:
            - job_name: Static
      before_build:
        - cd "%APPVEYOR_BUILD_FOLDER%"
        - mkdir build
        - cd build
        - cmake ..
            -A x64
            -DCMAKE_TOOLCHAIN_FILE=C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake
            -DVCPKG_TARGET_TRIPLET=x64-windows-static
            -DIGRAPH_GRAPHML_SUPPORT=1
            -DIGRAPH_USE_INTERNAL_BLAS=1 -DIGRAPH_USE_INTERNAL_LAPACK=1 -DIGRAPH_USE_INTERNAL_ARPACK=1 -DIGRAPH_USE_INTERNAL_GLPK=1 -DIGRAPH_USE_INTERNAL_CXSPARSE=1 -DIGRAPH_USE_INTERNAL_GMP=1
            -DIGRAPH_VERIFY_FINALLY_STACK=1

    - matrix:
        only:
            - job_name: Dynamic
      before_build:
        - cd "%APPVEYOR_BUILD_FOLDER%"
        - mkdir build
        - cd build
        - cmake ..
            -A x64
            -DCMAKE_TOOLCHAIN_FILE=C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake
            -DVCPKG_TARGET_TRIPLET=x64-windows-static
            -DBUILD_SHARED_LIBS=1
            -DIGRAPH_GRAPHML_SUPPORT=1
            -DIGRAPH_USE_INTERNAL_BLAS=1 -DIGRAPH_USE_INTERNAL_LAPACK=1 -DIGRAPH_USE_INTERNAL_ARPACK=1 -DIGRAPH_USE_INTERNAL_GLPK=1 -DIGRAPH_USE_INTERNAL_CXSPARSE=1 -DIGRAPH_USE_INTERNAL_GMP=1
            -DIGRAPH_VERIFY_FINALLY_STACK=1

configuration: Release

build:
    parallel: true
    verbosity: minimal

test_script:
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - cd build
    - ctest --output-on-failure -C Release

on_failure:
    - echo zipping everything after a failure...
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - 7z a failed_state.zip . | grep -v "Compressing"
    - appveyor PushArtifact failed_state.zip
