# We are using Python 3.5 because Python requires MSVC 14 from
# version 3.5 onwards so it does not matter which Python version we pick as
# long as it's later than 3.5.
environment:
  PATH: C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\System32;C:\Windows;%PATH%
  MSYSTEM: MINGW64
  TARGET_ARCH: "x64"

# We always use a 64-bit machine, but can build x86 distributions
# with the PYTHON_ARCH variable (which is used by CMD_IN_ENV).
platform:
    - x64

# all our builds have to happen in install...
build: false

install:
    - cmd: set PYTHONUNBUFFERED=1

    # update msys2 keyring first
    - C:\msys64\usr\bin\bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz"
    - C:\msys64\usr\bin\bash -lc "curl -O http://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz.sig"
    - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -U msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz"

    # update msys2
    - C:\msys64\usr\bin\bash -lc "pacman --needed --noconfirm -Sy pacman-mirrors"
    - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -Sy"
    - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S zstd"
    - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S bison flex"
    - C:\msys64\usr\bin\bash -lc "pacman --noconfirm -S libxml2-devel zip xz"

    # Install dependencies for MSVC build
    - choco install winflexbison

    # Now start with the build
    - cmd: cd "%APPVEYOR_BUILD_FOLDER%"
    - cmd: mkdir build
    - cmd: cd build
    - cmd: call "%VS140COMNTOOLS%\vsvars32.bat"
    - cmd: cmake .. -DIGRAPH_GMP_SUPPORT=NO -DIGRAPH_GRAPHML_SUPPORT=NO -DIGRAPH_USE_INTERNAL_BLAS=1 -DIGRAPH_USE_INTERNAL_LAPACK=1 -DIGRAPH_USE_INTERNAL_ARPACK=1 -DIGRAPH_USE_INTERNAL_GLPK=1 -DIGRAPH_USE_INTERNAL_CXSPARSE=1 -DIGRAPH_VERIFY_FINALLY_STACK=1
    - cmd: cmake --build .

test_script:
    - cmd: cd "%APPVEYOR_BUILD_FOLDER%"
    - cmd: cd build
    - cmd: cmake --build . --target build_tests
    - cmd: ctest -C Debug

on_failure:
    - cmd: echo zipping everything after a failure...
    - cmd: cd "%APPVEYOR_BUILD_FOLDER%"
    - cmd: 7z a failed_state.zip . |grep -v "Compressing"
    - cmd: appveyor PushArtifact failed_state.zip
