
# The igraph interface

export(graph.empty, add.edges, add.vertices, delete.edges,
       delete.vertices, vcount, ecount, neighbors)

export(add.graph.attribute,delete.graph.attribute,
       get.graph.attribute,set.graph.attribute,
       add.vertex.attribute,delete.vertex.attribute,
       get.vertex.attribute,set.vertex.attribute,
       add.edge.attribute,delete.edge.attribute,
       get.edge.attribute,set.edge.attribute)

export(igraph.iterator, igraph.next, igraph.get, igraph.end,
       igraph.prev, igraph.getattr)

# igraph storage types, adjacency list

S3method(graph.empty, adjacencylist.default)
S3method(add.edges, adjacencylist.default)
S3method(add.vertices, adjacencylist.default)
S3method(delete.edges, adjacencylist.default)
S3method(delete.vertices, adjacencylist.default)
S3method(vcount, adjacencylist.default)
S3method(ecount, adjacencylist.default)
S3method(neighbors, adjacencylist.default)
       
S3method(add.graph.attribute, adjacencylist.default)
S3method(delete.graph.attribute, adjacencylist.default)
S3method(get.graph.attribute, adjacencylist.default)
S3method(set.graph.attribute, adjacencylist.default)
S3method(add.vertex.attribute, adjacencylist.default)
S3method(delete.vertex.attribute, adjacencylist.default)
S3method(get.vertex.attribute, adjacencylist.default)
S3method(set.vertex.attribute, adjacencylist.default)
S3method(add.edge.attribute, adjacencylist.default)
S3method(delete.edge.attribute, adjacencylist.default)
S3method(get.edge.attribute, adjacencylist.default)
S3method(set.edge.attribute, adjacencylist.default)

S3method(igraph.iterator, adjacencylist.default)

# igraph storage types, edge list

S3method(graph.empty, edgelist.default)
S3method(add.edges, edgelist.default)
S3method(add.vertices, edgelist.default)
S3method(delete.edges, edgelist.default)
S3method(delete.vertices, edgelist.default)
S3method(vcount, edgelist.default)
S3method(ecount, edgelist.default)
S3method(neighbors, edgelist.default)
       
S3method(add.graph.attribute, edgelist.default)
S3method(delete.graph.attribute, edgelist.default)
S3method(get.graph.attribute, edgelist.default)
S3method(set.graph.attribute, edgelist.default)
S3method(add.vertex.attribute, edgelist.default)
S3method(delete.vertex.attribute, edgelist.default)
S3method(get.vertex.attribute, edgelist.default)
S3method(set.vertex.attribute, edgelist.default)
S3method(add.edge.attribute, edgelist.default)
S3method(delete.edge.attribute, edgelist.default)
S3method(get.edge.attribute, edgelist.default)
S3method(set.edge.attribute, edgelist.default)

S3method(igraph.iterator, edgelist.default)

# igraph storage types, postresql database

S3method(graph.empty, pgsql.default)
S3method(add.edges, pgsql.default)
S3method(add.vertices, pgsql.default)
S3method(delete.edges, pgsql.default)
S3method(delete.vertices, pgsql.default)
S3method(vcount, pgsql.default)
S3method(ecount, pgsql.default)
S3method(neighbors, pgsql.default)
       
S3method(add.graph.attribute, pgsql.default)
S3method(delete.graph.attribute, pgsql.default)
S3method(get.graph.attribute, pgsql.default)
S3method(set.graph.attribute, pgsql.default)
S3method(add.vertex.attribute, pgsql.default)
S3method(delete.vertex.attribute, pgsql.default)
S3method(get.vertex.attribute, pgsql.default)
S3method(set.vertex.attribute, pgsql.default)
S3method(add.edge.attribute, pgsql.default)
S3method(delete.edge.attribute, pgsql.default)
S3method(get.edge.attribute, pgsql.default)
S3method(set.edge.attribute, pgsql.default)

export(pgsql.list.graphs, pgsql.get.graph, pgsql.clear)

# common functions, basic not structural operations
export(is.graph)

# common functions, attribute related

export(g.a, "g.a<-", v.a, "v.a<-", e.a, "e.a<-")
export(is.directed, igraph.type)

# common functions, screen related 

export(print.graph, summary.graph)

# common functions, basic structural info

export(are.connected)

# common functions, graph generators

export(graph, graph.adjacency, graph.star, graph.lattice, graph.ring,
       graph.tree)

# common functions, graph generators, games

export(ba.game, barabasi.game, erdos.renyi.game, random.graph.game,
       degree.sequence.game, growing.random.game, aging.prefatt.game)

# common functions, (not so basic) structural properties

export(diameter, degree, degree.distribution, closeness,
       shortest.paths, get.shortest.paths, cocitation, bibcoupling,
       evcent) 

S3method(degree, default)
S3method(degree, adjacencylist)

# common functions, components and similar

export(clusters, cluster.distribution, subcomponent, subgraph, betweenness,
       edge.betweenness, is.connected)

# common: conversion

export(get.adjacency, get.edgelist, simplify)

# plotting

export(layout.random, layout.circle, layout.fruchterman.reingold,
       layout.kamada.kawai, layout.spring)

export(tkplot, 
       tkplot.close, tkplot.off, tkplot.fit.to.screen, tkplot.reshape,
       tkplot.export.postscript, tkplot.getcoords, tkplot.center,
       tkplot.rotate)

export(plot.graph)

# parameters

export(igraph.par)

# foreign file formats

export(read.graph, read.graph.pajek, 
       read.graph.edgelist, write.graph, write.graph.edgelist)

# fitting

export(power.law.fit)

# community structure

export(edge.type.matrix, eb.community, cut.community, modularity,
       eb.community2)

# other, not graph related

export(running.mean)

# measuring dynamics

export(measure.dynamics.idage)

# minimum spanning tree

export(minimum.spanning.tree)
