
# The igraph interface

export(graph.empty, add.edges, add.vertices, delete.edges,
       delete.vertices, vcount, ecount, neighbors)

# basic functions, printing

export(is.igraph, are.connected, print.igraph, summary.igraph)

# structure generators

export(graph, graph.adjacency, graph.star, graph.tree, graph.lattice, graph.ring)

# games

export(erdos.renyi.game, random.graph.game, degree.sequence.game,
       aging.prefatt.game, growing.random.game)

# community structure

export(eb.community, cut.community, edge.type.matrix,
       modularity, eb.community2)

# conversion

export(get.adjacency, get.edgelist)

# fitting, other

export(power.law.fit, running.mean)

# foreign formats

export(read.graph, write.graph, read.graph.edgelist,
       write.graph.edgelist, write.graph.lgl)

# layouts

export(layout.random, layout.circle, layout.fruchterman.reingold,
       layout.spring)

# structural properties

export(subgraph, simplify, degree, degree.distribution, diameter,
       closeness, subcomponent, betweenness, bibcoupling, cocitation,
       shortest.paths)

# plotting

export(plot.igraph, tkplot)

# components

export(clusters, cluster.distribution, is.connected)

# centrality

export(evcent)
