---
layout: default
mainheader: Get started with python-igraph
lead: Install and start using python-igraph
extramenu: <li><a href="/python"><i class="icon-python"></i> Get started</a></li>
---

<div class="container bs-docs-container">

  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary" 
           data-spy="affix">
        <ul class="nav bs-sidenav">
          
          <li><a href="#startpy"><i class="icon-fixed-width icon-python"></i> 
	      Get started</a>
	    <ul class="nav">
	      <li><a href="#pyreq">Requirements</a></li>
	      <li><a href="#pyinstall">Installation</a></li>
	      <li><a href="#pyinstallosx">Installation on Mac OS X</a></li>
	      <li><a href="#pyinstallwin">Installation on Windows</a></li>
	      <li><a href="#pydoc1">Tutorials</a></li>
	    </ul>
	  </li>
          <li>
            <a href="#docs"><i class="icon-fixed-width icon-book"></i> 
	      Documentation</a>
            <ul class="nav">
              <li><a href="#pymanual">Python manual</a></li>
<!--               <li><a href="#screenshots">Screenshots and -->
<!--                 examples</a></li>                        -->
<!--               <li><a href="#wiki">Wiki</a></li>          -->
            </ul>
          </li>

          <li><a href="#downloads">
	      <i class="icon-fixed-width icon-download"></i> Downloads</a>
            <ul class="nav">
              <li><a href="#pydown">Current release</a></li>
              <li><a href="#nightlydown">Nightly builds</a></li>
              <li><a href="#devdown">Development version</a></li>
            </ul>
          </li>

          <li><a href="#help">
	      <i class="icon-fixed-width icon-question-sign"></i> Get help</a>
            <ul class="nav">
              <li><a href="#list">Mailing list</a></li>
              <li><a href="#so">Stack Overflow</a></li>
            </ul>
          </li>

          <li><a href="#contribute">
	      <i class="icon-fixed-width icon-plus-sign-alt"></i> 
	      Contribute</a>
            <ul class="nav">
              <li><a href="#contributebugs">Report bugs</a></li>
              <!-- <li><a href="#contributewiki">Improve the Wiki</a></li> -->
              <li><a href="#contributecode">Contribute code</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="bs-docs-section">

        <div class="page-header">
          <h1><span id="startpy" class="anchor">&nbsp;</span>
            Get started</h1>
        </div>

        <h3><span id="pyreq" class="anchor">&nbsp;</span>Requirements</h3>
        <p>On Linux (and other Unix-like systems), you will need a C and a C++
          compiler, the tool <code>make</code> and the development header files
          for your version of Python. On Debian and Ubuntu Linux the
          <code>build-essential</code> and <code>python-dev</code> packages install
          these. On Mac OS X, you can get a working C and C++ compiler as well as
          <code>make</code> by installing XCode or the XCode Command Line Tools.
        </p>
        <p>See also the platform-specific installation instructions below.</p>

        <h3><span id="pyinstall" class="anchor">&nbsp;</span>
           Installation</h3>
        <p>
          igraph is on the <a href="http://pypi.python.org/pypi/python-igraph">Python
          Package Index</a> so it can be installed using <code>pip</code> or
          <code>easy_install</code>:
        </p>
        <p>
        {% highlight console %}
$ pip install python-igraph
{% endhighlight %}
        </p>
        <p>If the C core of igraph has already been installed to a
        location that can be detected using <code>pkg-config</code>,
        <code>pip</code> will compile and link the extension to the
        C core that you have installed. If the C core is not installed
        or is installed in a location that cannot be detected using
        <code>pkg-config</code>, <code>pip</code> will attempt to
        download a matching version of the C core and compile it together
        with the Python interface. Note that this will not work on Windows;
        you are advised to download and run one of the MSI installers that
        we provide on the <a href="http://pypi.python.org/pypi/python-igraph">Python
        Package Index</a>.
        </p>

        <h3><span id="pyinstallosx" class="anchor">&nbsp;</span>
          Installation on Mac OS X</h3>
        <p>
        Instead of letting <code>pip</code> compile the C core for you,
        you can install <a href="http://brew.sh/">Homebrew</a> and
        the <code>homebrew/science/igraph</code> formula. This will ensure
        that the C core is found by <code>pip</code> so running
        <code>pip install python-igraph</code> will compile the Python interface
        only and link it to the C core.
        </p>

        <h3><span id="pyinstallwin" class="anchor">&nbsp;</span>
          Installation on Windows</h3>
        <p>
          The preferred way to install the Python interface on Windows is to
          download one of the MSI installers from the
          <a href="http://pypi.python.org/python-igraph">Python Package Index</a>.
          If you do not find an installer that is suitable for your specific
          version of Python, you can also try one of the unofficial installers built by
          <a href="http://www.lfd.uci.edu/~gohlke/pythonlibs/">Christoph Gohlke</a>.
          (Thanks Christoph!). Note that the automatic compilation of the C core
          when running <code>pip install python-igraph</code> will <em>not</em>
          work on Windows!
        </p>

        <h3><span id="pydoc1" class="anchor">&nbsp;</span>Tutorials</h3>

        <p>
          <ul>
            <li>A short tutorial is provided on <a href="http://igraph.org/python/doc/tutorial/tutorial.html">this page</a>.</li>
            <li>The documentation of the <a href="http://igraph.org/python/doc/igraph.Graph-class.html">Graph</a> and
            <a href="http://igraph.org/python/doc/igraph.GraphBase-class.html">GraphBase</a>
            classes provide a good overview of most of the functionality in the
            Python interface.</li>
          </ul>
        </p>

        <div class="page-header">
          <h1><span id="docs" class="anchor">&nbsp;</span>Documentation
          <small>&ndash; for version {% include igraph-version %}</small></h1>
        </div>

        <h3><span id="pymanual" class="anchor">&nbsp;</span>Python manual</h3>
        <p>
          <ul class="icons-ul list-unstyled">
            <li><i class="icon-li icon-link"></i>
              <a href="/python/doc/tutorial/tutorial.html">Tutorial &ndash; read
                online</a></li>
            <li><i class="icon-li icon-link"></i>
              <a href="/python/doc/igraph-module.html">
                Reference manual &ndash; browse online</a></li>
            <li><i class="icon-li icon-book"></i>
              <a href="/python/doc/python-igraph.pdf">PDF file</a></li>
          </ul>
        </p>

        <p>
          Documentation for the Python interface is also included in
          the Python docstrings, so you can use <code>pydoc</code> or
          the built-in Python help facility as well.
        </p>

        <!-- <h3><span id="screenshots" class="anchor">&nbsp;</span> -->
        <!--   Screenshots and examples</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->
        <!-- <p> -->
        <!--   See also the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--       igraph wiki.</a> -->
        <!-- </p> -->

        <!-- <h3><span id="wiki" class="anchor">&nbsp;</span>Wiki</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->

        <div class="page-header">
          <h1><span id="downloads" class="anchor">&nbsp;</span>Downloads</h1>
        </div>

        <h3><span id="pydown" class="anchor">&nbsp;</span>
          Current release
	  &ndash; version {% include igraph-version %}</h3>
        <p>
          <ul class="icons-ul list-unstyled">
            <!-- <li><i class="icon-li icon-windows"></i> -->
            <!--   <a href="/nightly/python/python-igraph-{% include igraph-version %}.win32-py3.2.msi">Windows installer for Python 3.2</a></li> -->
            <!-- <li><i class="icon-li icon-windows"></i> -->
            <!--   <a href="/nightly/python/python-igraph-{% include igraph-version %}.win32-py2.7.msi">Windows installer for Python 2.7</a></li> -->
            <!-- <li><i class="icon-li icon-windows"></i> -->
            <!--   <a href="/nightly/python/python-igraph-{% include igraph-version %}.win32-py2.6.msi">Windows installer for Python 2.6</a></li> -->
            <li><i class="icon-li icon-apple"></i>
              <a href="/nightly/get/python-osx/python_igraph-{% include igraph-version %}-py2.7-macosx10.8.dmg">OS X Mountain Lion (and above) installer for Python 2.7</a></li>
            <!-- <li><i class="icon-li icon-apple"></i> -->
            <!--   <a href="/nightly/python/python_igraph-{% include igraph-version %}-py2.6-macosx10.8.dmg">OS X Lion installer (Python 2.6)</a></li> -->
            <li><i class="icon-li icon-file-text"></i>
              <a href="/nightly/get/python/python-igraph-{% include igraph-version %}.tar.gz">Source code</a></li>
            <li><i class="icon-li icon-external-link"></i>
              <a href="https://pypi.python.org/pypi/python-igraph">Python Package Index page</a></li>
          </ul>
        </p>

        <h3><span id="nightlydown" class="anchor">&nbsp;</span>
          Nightly builds</h3>
        <p>
          Builds from our development branch(es) are available from
          <a href="/nightly">our nightly build server</a>.
        </p>

        <h3><span id="devdown" class="anchor">&nbsp;</span>
          Development version</h3>
        <p>
          Clone (or fork) the <code>develop</code> branch from the
          <a href="https://github.com/igraph/igraph">igraph git
            reposity on github.</a>
        </p>

        <div class="page-header">
          <h1><span id="help" class="anchor">&nbsp;</span>Get help</h1>
        </div>

        <h3><span id="list" class="anchor">&nbsp;</span>Mailing list</h3>
        <p>
          Post a question on the
          <a href="https://lists.nongnu.org/mailman/listinfo/igraph-help">
            igraph-help mailing list</a>. To avoid spam
          on the list, you need to sign up first. You can also 
          <a href="http://lists.nongnu.org/archive/html/igraph-help/">
          search the mailing list.</a>
        </p>

        <h3><span id="so" class="anchor">&nbsp;</span>Stack Overflow</h3>
        <p>
          Post specific igraph questions on
          <a href="http://stackoverflow.com/questions/tagged/igraph">
            Stack Overflow</a>. Make sure that you include the
          <code>igraph</code> tag and that you include a reproducible
          example, complete with code and data.
        </p>

        <div class="page-header">
          <h1><span id="contribute" class="anchor">&nbsp;</span>Contribute</h1>
        </div>

        <p>
          Your contribution is more than welcome!
        </p>
        
        <h3><span id="contributebugs" class="anchor">&nbsp;</span>
          Report bugs</h3>

        <p>Report bugs or suggest new features or algorithms in the 
          <a href="https://github.com/igraph/igraph/issues">
          github issue tracker</a>.
        </p>
        
        <!-- <h3><span id="contributewiki" class="anchor">&nbsp;</span> -->
        <!--   Improve the wiki</h3> -->
        
        <!-- <p>Add your work to the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--         igraph wiki</a>. -->
        <!-- </p> -->

        <h3><span id="contributecode" class="anchor">&nbsp;</span>
          Contribute code</h3>
          
        <p>Send a pull request on <a href="https://github.com/igraph/igraph">
                github.</a> Please note that igraph can contain only
          code that is compatible with its GPL license.
        </p>

      </div>
    </div>
  </div>

</div>
