---
layout: default
mainheader: Get started with the igraph library
lead: Install and start using the igraph library
extramenu: <li><a href="/c"><i class="icon-c"></i> Get started</a></li>
---

<div class="container bs-docs-container">

  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary" 
           data-spy="affix">
        <ul class="nav bs-sidenav">
          
          <li><a href="#startc"><i class="icon-fixed-width icon-c"></i> 
	      Get started</a>
            <ul class="nav">
              <li><a href="#creq">Requirements</a></li>
              <li><a href="#cinstall">Installation</a></li>
              <li><a href="#cinstallosx">Installation on Mac OS X</a></li>
              <li><a href="#cinstallcygwin">Installation on Windows under
                Cygwin</a></li>
              <li><a href="#cinstallmsvc">Installation using Microsoft
                Visual C++<a></li>
              <li><a href="#ctut">Tutorials</a></li>
            </ul>
          </li>
          <li>
            <a href="#docs"><i class="icon-fixed-width icon-book"></i>
	      Documentation</a>
            <ul class="nav">
              <li><a href="#cmanual">C reference manual</a></li>
<!--               <li><a href="#screenshots">Screenshots and -->
<!--                 examples</a></li>                        -->
<!--               <li><a href="#wiki">Wiki</a></li>          -->
            </ul>
          </li>

          <li><a href="#downloads">
	      <i class="icon-fixed-width icon-download"></i> Downloads</a>
            <ul class="nav">
              <li><a href="#cdown">Current release</a></li>
              <li><a href="#nightlydown">Nightly builds</a></li>
              <li><a href="#devdown">Development version</a></li>
            </ul>
          </li>

          <li><a href="#help">
	      <i class="icon-fixed-width icon-question-sign"></i> 
	      Get help</a>
            <ul class="nav">
              <li><a href="#list">Mailing list</a></li>
              <li><a href="#so">Stack Overflow</a></li>
            </ul>
          </li>

          <li><a href="#contribute">
	      <i class="icon-fixed-width icon-plus-sign-alt"></i>
	      Contribute</a>
            <ul class="nav">
              <li><a href="#contributebugs">Report bugs</a></li>
              <!-- <li><a href="#contributewiki">Improve the Wiki</a></li> -->
              <li><a href="#contributecode">Contribute code</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="bs-docs-section">

        <div class="page-header">
          <h1><span id="startc" class="anchor">&nbsp;</span>
            Get started</h1>
        </div>

        <h3><span id="creq" class="anchor">&nbsp;</span>Requirements</h3>
        <p>
          Make sure you have the following before installing igraph:
          <ul>
            <li>A <strong>Linux</strong>, <strong>Mac OS X</strong> or
              <strong>MS Windows</strong> system. Other
              Unix and similar systems probably work as well,
              e.g. Oracle Solaris, BSD systems, etc.</li>
            <li>C and C++ compilers, <code>gcc</code>,
              <code>clang</code> or others.</li>
            <li>The GNU <code>make</code> tool.</li>
            <li>Optionally the <a href="http://www.xmlsoft.org/"> 
              <code>libxml2</code></a> library for reading GraphML
              files.</li> 
          </ul>
          On Ubuntu and Debian Linux, installing the
          <code>build-essential</code> and the
          <code>libxml2-dev</code> packages is sufficient.
        </p>

        <h3><span id="cinstall" class="anchor">&nbsp;</span>Installation</h3>
        <p>
          The standard installation method uses the
          <code>autoconf</code>/<code>automake</code> toolset. After
          downloading and uncompression the source code run the
          following commands from the top-level directory of the code.
        </p>
        <p>
          {% highlight sh %}
 ./configure
 make
 make check
 make install  {% endhighlight %}
        </p>
        <p>The <code>make check</code> step is optional, but it is
          useful to spot problems early on.
        </p>

        <h3><span id="cinstallosx" class="anchor">&nbsp;</span>
          Installation on Mac OS X</h3>
        <p>
          You can use the regular Unix way (as above), or
          <a href="http://brew.sh/">Homebrew</a>, the
          <code>homebrew/science/igraph</code> formula.
        </p>

        <h3><span id="cinstallcygwin" class="anchor">&nbsp;</span>
          Installation on Windows under Cygwin</h3>
        <p>
          One way to install igraph on Windows is to use 
          <a href="http://www.cygwin.com/">Cygwin</a>. From a Cygwin
          shell, use the standard installation method, as
          above.
        </p>

        <h3><span id="cinstallmsvc" class="anchor">&nbsp;</span>
          Installation on Windows using Microsoft Visual C++</h3>
        <p>
          It is also possible to use Microsoft Visual C++
          (MSVC). Download the ZIP file made for MSVC, uncompress it,
          and open the solution file <code>igraph.sln</code> from
          MSVC. You can build the library the usual way then. For
          GraphML support you'll need to install the
          <code>libxml2</code> library by hand, see the 
          <a href="http://www.zlatkovic.com/libxml.en.html">
            Windows port</a> of <code>libxml2</code>.
        </p>

        <h3><span id="ctut" class="anchor">&nbsp;</span>Tutorials</h3>
        <p>
          <ul>
            <li>The source code comes with some examples (also used
              for testing). You can find them in the
              <code>examples/simple</code> directory.</li>
            <li>Most of the examples are also included in the 
              <a href="/c/doc/">Reference Manual</a>.
          </ul>
        </p>

        <div class="page-header">
          <h1><span id="docs" class="anchor">&nbsp;</span>Documentation
          <small>&ndash; for version {% include igraph-version %}</small></h1>
        </div>

        <h3><span id="cmanual" class="anchor">&nbsp;</span>
          C Reference Manual</h3>
        <p>
          <ul class="icons-ul list-unstyled">
            <li><i class="icon-li icon-link"></i>
              <a href="/c/doc/">Browse online</a></li>
            <li><i class="icon-li icon-book"></i>
              <a href="/c/doc/igraph-docs.pdf">PDF file</a></li>
            <!-- <li><i class="icon-li icon-briefcase"></i> -->
            <!--   <a href="/c/doc/igraph-docs.tar.gz">HTML bundle</a></li> -->
            <li><i class="icon-li icon-info"></i>
              <a href="/c/doc/igraph.info">GNU info document</a></li>
          </ul>
        </p>

        <p>
          The original XML DocBook format of the C Reference Manual can be
          obtained by downloading the latest igraph development
          version from <a href="https://github.com/igraph/igraph">
          github</a>.
        </p>

        <!-- <h3><span id="screenshots" class="anchor">&nbsp;</span> -->
        <!--   Screenshots and examples</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->
        <!-- <p> -->
        <!--   See also the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--       igraph wiki.</a> -->
        <!-- </p> -->

        <!-- <h3><span id="wiki" class="anchor">&nbsp;</span>Wiki</h3> -->
        <!-- <p> -->
        <!--   TODO -->
        <!-- </p> -->

        <div class="page-header">
          <h1><span id="downloads" class="anchor">&nbsp;</span>Downloads</h1>
        </div>

        <h3><span id="cdown" class="anchor">&nbsp;</span>Current release
	  &ndash; version {% include igraph-version %}</h3>
        <p>
          <ul class="icons-ul list-unstyled">
            <li><i class="icon-li icon-file-text"></i>
              <a href="/nightly/get/c/igraph-{% include igraph-version %}.tar.gz">Source code</a></li>
            <li><i class="icon-li icon-windows"></i>
              <a href="/nightly/get/msvc/igraph-{% include igraph-version %}.zip">Source code for Microsoft Visual
              Studio</a></li>
          </ul>
        </p>

        <h3><span id="nightlydown" class="anchor">&nbsp;</span>
          Nightly builds</h3>
        <p>
          Builds from our development branch(es) are available from
          <a href="/nightly">our nightly build server</a>.
        </p>

        <h3><span id="devdown" class="anchor">&nbsp;</span>
          Development version</h3>
        <p>
          Clone (or fork) the <code>develop</code> branch from the
          <a href="https://github.com/igraph/igraph">igraph git
            reposity on github.</a>
        </p>

        <div class="page-header">
          <h1><span id="help" class="anchor">&nbsp;</span>Get help</h1>
        </div>

        <h3><span id="list" class="anchor">&nbsp;</span>Mailing list</h3>
        <p>
          Post a question on the
          <a href="https://lists.nongnu.org/mailman/listinfo/igraph-help">
            igraph-help mailing list</a>. To avoid spam
          on the list, you need to sign up first. You can also 
          <a href="http://lists.nongnu.org/archive/html/igraph-help/">
          search the mailing list.</a>
        </p>

        <h3><span id="so" class="anchor">&nbsp;</span>Stack Overflow</h3>
        <p>
          Post specific igraph questions on
          <a href="http://stackoverflow.com/questions/tagged/igraph">
            Stack Overflow</a>. Make sure that you include the
          <code>igraph</code> tag and that you include a reproducible
          example, complete with code and data.
        </p>

        <div class="page-header">
          <h1><span id="contribute" class="anchor">&nbsp;</span>Contribute</h1>
        </div>

        <p>
          Your contribution is more than welcome!
        </p>
        
        <h3><span id="contributebugs" class="anchor">&nbsp;</span>
          Report bugs</h3>

        <p>Report bugs or suggest new features or algorithms in the 
          <a href="https://github.com/igraph/igraph/issues">
          github issue tracker</a>.
        </p>
        
        <!-- <h3><span id="contributewiki" class="anchor">&nbsp;</span> -->
        <!--   Improve the wiki</h3> -->
        
        <!-- <p>Add your work to the gallery in the -->
        <!--   <a href="https://github.com/igraph/igraph/wiki"> -->
        <!--         igraph wiki</a>. -->
        <!-- </p> -->

        <h3><span id="contributecode" class="anchor">&nbsp;</span>
          Contribute code</h3>
          
        <p>Send a pull request on <a href="https://github.com/igraph/igraph">
                github.</a> Please note that igraph can contain only
          code that is compatible with its GPL license.
        </p>

      </div>
    </div>
  </div>

</div>
