
  Options -Indexes
  RewriteEngine on
  RewriteRule ^nightly$ /cgi-bin/nightly.py [PT]
  RewriteRule ^nightly/(.*)$ /cgi-bin/nightly.py/$1 [PT]

  AuthType Basic
  AuthName "Please Log In"
  AuthUserFile /home4/csardi/www/.htpasswd
  Require valid-user
  Order deny,allow
  Deny from all
  Allow from 140.247.28.49
  Satisfy any
