
  Options -Indexes
  RewriteEngine on
  RewriteRule ^nightly$ /cgi-bin/nightly.py [PT]
  RewriteRule ^nightly/(.*)$ /cgi-bin/nightly.py/$1 [PT]

  AuthType Basic
  AuthName "Please Log In"
  AuthUserFile /home4/csardi/www/.htpasswd

<Files "index.html">
  Require valid-user
</Files>

