<h2>Requirements</h2>

<h3>The C library</h3>
    <p>For using the <i><b>igraph</b> C library</i> only a fairly recent C
    and C++ library is needed. For supporting the GraphML format
    you'll need the <a href="http://xmlsoft.org"><code>libxml2</code>
    library</a>.</p>

    <p>For compiling the <i><b>igraph</b> C library</i> from source you'll
    need a fairly modern C and C++ compiler and some standard UNIX
    tools like <code>make</code>, <code>chmod</code>, <code>touch</code>, etc.</p>

    <p>Most often we use the <a href="http://gcc.gnu.org">GNU Compiler
    Collection</a> for compiling. Theoretically it is possible to compile
    <b>igraph</b> using the Microsoft Visual C Compiler as well, but we
    recommend the <a href="http://www.cygwin.com">Cygwin</a> or
    <a href="http://www.mingw.org">MinGW</a> environments for compiling
    <b>igraph</b> under Windows.</p>

<h3>The GNU R package</h3>
    <p>For using the <i><b>igraph</b> R package</i> you obviously need 
    GNU R, a recent version like 2.6.0 is recommended, since earlier
    versions contain bugs which affect <b>igraph</b>. If you would like to
    compile the R package from source (this is the usual way for Linux
    systems), you'll need a C and C++ compiler and optionally the
    <a href="http://xmlsoft.org"><code>libxml2</code> library</a>.</p>

    <p>For installing the <i><b>igraph</b> R package</i> on Windows, you 
    don't need anything else, just GNU R and the binary <b>igraph</b> R
    package of course</p>

<h3>The Python extension module</h3>

    <p>For installing the <i>Python extension module</i>, you'll
    need Python version 2.4 or later. Binary versions of the module
    are available for Python 2.4 and Python 2.5 on the Windows platform,
    so you don't have to compile anything in this case. OS X Leopard
	users can download an installer as well. If you are using
    Linux or Mac OS X Tiger, you'll have to compile the extension by yourself.
    Compilation requires a recent C compiler (e.g. <code>gcc</code>, which
    is usually available as a separate package in Linux and as part of
    <a href="http://developer.apple.com/tools/xcode/">XCode</a> on Mac
    OS X. You'll also need the compiled form of the <b>igraph</b> C
	core, as the Python interface will link to that during compilation.</p>
    <p>If you have the <a href="http://peak.telecommunity.com/DevCenter/EasyInstall">EasyInstall</a>
    Python script installed, you can simply type <code>easy_install igraph</code>
    to download, compile and install <b>igraph</b> as a Python Egg. This
	method assumes that you installed the C core somewhere in the
	default include and library path of your system.</p>

<h3>The Ruby extension</h3>
    <p>For installing the <i>Ruby extension</i> please consult 
    <a href="http://rubyforge.org/projects/igraph/">the homepage of
    this extension</a>.</p>

<h3>Compiling the development version</h3>
    <p>For compiling the development version of <b>igraph</b>, you'll need
    quite a large set of tools: <code>autoconf</code>, <code>automake</code>,
    GNU <code>bison</code> version 1.35 or newer, GNU <code>make</code>,
    maybe more. For compiling the documentation you'll need even more tools:
    Python, Docbook schemas and tools, <code>xmlto</code>, <code>makeinfo</code>,
    <code>patch</code>, <code>docbook2x</code>, maybe more. We're sure you
    know how to get these if you want to compile the development version :)</p>

<div class="back"><a href="index.html">&laquo; Back to main page</a></div>
