Source: igraph
Section: libs
Priority: optional
Maintainer: Tamas Nepusz <ntamas@gmail.com>
Build-Depends: debhelper (>= 7), libtool, libxml2-dev, libgmp3-dev, libarpack2-dev,
 libblas-dev, liblapack-dev, libglpk-dev, automake, flex, bison,
 source-highlight, docbook2x, libxml2-utils, python (>= 2.5)
Standards-Version: 3.8.3
Homepage: http://igraph.sourceforge.net

Package: libigraph
Architecture: all
Depends: libigraph0, ${misc:Depends}
Description: Transitional dummy package for libigraph0
 This is a dummy package to ease the transition from libigraph to
 libigraph0.

Package: libigraph-dev
Architecture: all
Depends: libigraph0-dev, ${misc:Depends}
Description: Transitional dummy package for libigraph0-dev
 This is a dummy package to ease the transition from libigraph-dev to
 libigraph0-dev.

Package: libigraph0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libigraph (<< 0.5.3-1)
Conflicts: libigraph (<< 0.5.3-1)
Provides: libigraph
Description: A library for creating and manipulating graphs
 igraph is a library for creating and manipulating graphs.
 It is intended to be as powerful (ie. fast) as possible to enable the
 analysis of large graphs.
 .
 This is the runtime library package.

Package: libigraph0-dev
Architecture: any
Section: libdevel
Depends: libigraph0 (= ${binary:Version}), ${misc:Depends}
Description: A library for creating and manipulating graphs - development files
 igraph is a library for creating and manipulating graphs.
 It is intended to be as powerful (ie. fast) as possible to enable the
 analysis of large graphs.
 .
 This package contains the include files and static library for igraph.

