<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/igraph3.png" type="image/x-icon" />

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700'
          rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-mfizz/font-mfizz.css">
    <link href="/css/affix.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/other.css" rel="stylesheet">
    <link href="/fonts/fonts.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements 
         and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    {{ page.extrahead }}

  </head>

  {% capture prefix %}{{ page.url | firstdir }}{% endcapture %}

  <body {% if page.url == "/index.html" %} class="start-page" {% endif %}>

  <div id="wrap">

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/img/igraph2.svg" width=25> igraph
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li {% if page.url == "/index.html" %} class="active" {% endif %}>
              <a href="/">Overview</a></li>
            <li {% if page.url == "/getstarted.html" or page.url == "/cgi-bin/main.html" or page.url == "cgi-bin/tests.html" or prefix == "/doc/" %} class="active" 
                {% endif %}><a href="/getstarted.html">Documentation</a></li>
            <li {% if page.url == "/news.html" or page.id %} class="active" {% endif %}>
              <a href="/news.html">News</a></li>
            <li><a href="https://github.com/igraph/igraph">On github</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Search docs"
                     class="form-control" size="15">
            </div>
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    {% if page.url != "/index.html" %}
    
    <div class="bs-header-outer"><div class="bs-header">
      <div class="container">
        <h1>{{page.mainheader}}</h1>
        <p class="lead">{{page.lead}}</p>        
      </div>
    </div></div>

    {% endif %}

    {{content}}

    </div>

    <div id="footer"><div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted credit">
            Latest: igraph {% include igraph-version %}
            &bull; &copy; 2003 &ndash; 2013 The igraph core team.
            &bull; Code licensed under 
            <a href="http://www.gnu.org/licenses/gpl-2.0.html">
            GNU GPL 2</a> or later, documentation under 
            <a href="http://www.gnu.org/copyleft/fdl.html">
              GNU FDL.</a>
            <!-- &bull; <a href="">Download old releases</a> -->
            <!-- &bull; <a href="">Old documentation</a> -->
            <!-- &bull; <a href="">Authors</a> -->
            <!-- &bull; <a href="">Tools</a> -->
            <!-- &bull; <a href="">Papers citing igraph</a> -->
          </p>
        </div>
      </div>
    </div></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/affix.js"></script>
    <script src="/js/tooltips.js"></script>
    <script src="/js/toggle.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $( ".thumbnail" ).mouseenter(function() {
          $(this).find('.caption').removeClass("flipOutY").addClass("flipInY").show();
        })
        .mouseleave(function() {
          $(this).find('.caption').removeClass("flipInY").addClass("flipOutY");
});
})    
    </script>
  </body>
</html>
