---
layout: default
title: igraph &ndash; Network analysis software
mainheader: igraph news 
lead: New releases and other major changes
---

<div class="container bs-docs-container">

  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary" 
           data-spy="affix">
        <ul class="nav bs-sidenav">
          {% for post in site.posts %}
          <li>
            <a href="/news.html#{{ post.id }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="bs-docs-section">
                
        {{ content | biggerh1 | redir_docs }}

      </div>
    </div>
  </div>

</div>
