<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
          http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.igraph.tekton.build-r-0.5-main</string>
    <key>WorkingDirectory</key>
    <string>$PWD/ubuntu-13.04-x86_64</string>
    <key>ProgramArguments</key>
    <array>
      <string>../run-script.sh</string>
      <string>build-r.sh</string>
      <string>0.5-main</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
	<key>Minute</key>
	<integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>output/build-r-develop.txt</string>
    <key>StandardErrorPath</key>
    <string>error/build-r-develop.txt</string>
    <key>KeepAlive</key>
    <false/>
  </dict>
</plist>
