$def with ()

<h2>About Nexus</h2>

<h3>What is Nexus?</h3>

<p>
Nexus is a repository of freely available (see license below) network
data sets, to promote network science research and
education. Real-world data is essential for the testing of hypotheses
and the development of algorithms. 
</p>

<h3>Ease of use</h3>

<p>
The principal aim of Nexus is make network data sets available with
the least effort possible from the user. You can download data that is
ready to use, in <a href="$:getbase()/api/format">various
    formats</a>. We also <a href="$:getbase()/web/docs">provide an
    API</a> to allow importing data into 
your analysis software directly and possibly programmatically. Nexus
is supported by the <a href="http://igraph.sourceforge.net">igraph
  network analysis library</a>, that you can use in your Python, R or
C/C++ programs.
</p>

<p>
We put an effort into carefully annotating the data sets and providing
the most complete possible meta-information within the data set
itself.
</p>

<h3>License</h3>

<p>
The different data sets are available
under <a href="$:getbase()/api/licence">different licenses</a>, 
please be sure to check the license of the particular data set you are
using. In general, all data sets are available for non-commercial
research and education purposes, provided you cite the appropriate
publications in your papers using them. Many data sets are available
for commercial use as well. 
<p>

<h3>Donate data sets</h3>

<p>
A database without data is nothing. Please
consider <a href="$:getbase()/web/donate">sharing your data
sets</a> to facilitate network science research. Not only will your
donation help other researchers and students, but it will also promote
reproducible research.
</p>

<p>
It is important, that if you donate your data, you still retain the
ownership and copyright on it. Obviously, you can also decide on the
terms of use for your data set.
<p>

