$def with ()

<h2>Administration</h2>
<h3>Datasets</h3>
<h4><a href="/web/add">Add a new dataset</a></h4>
<h4><a href="/web/checkall">Check all data sets</a></h4>
<h4><a href="/web/recreateall/graphml">Recreate GraphML files</a></h4>
<h4><a href="/web/recreateall/python-igraph">Recreate Python-igraph 
    files</a></h4>

<h3>Licences</h3>
<h4><a href="/api/licence">List and edit licences</a></h4>
<h4><a href="/web/addlicence">Add a new licence</a></h4>

<h3>Data formats</h3>
<h4><a href="/api/format">List and edit data formats</a></h4>

<h3>Blog</h3>
<h4><a href="/web/addblog">Add a blog entry</a></h4>
<h4><a href="/web/blog?admin=true">Unpublished blog entries</a></h4>
