$def with ()

<h2>Administration</h2>
<h3>Datasets</h3>
<h4><a href="$:getbase()/web/add">Add a new dataset</a></h4>
<h4><a href="$:getbase()/web/checkall">Check all data sets</a></h4>
<h4><a href="$:getbase()/web/recreateall/graphml">Recreate GraphML 
    files</a></h4>
<h4><a href="$:getbase()/web/recreateall/python-igraph">Recreate 
    Python-igraph files</a></h4>
<h4><a href="$:getbase()/web/updatefilesize">Update file size information
    </a></h4>

<h3>Licences</h3>
<h4><a href="$:getbase()/api/licence">List and edit licences</a></h4>
<h4><a href="$:getbase()/web/addlicence">Add a new licence</a></h4>

<h3>Data formats</h3>
<h4><a href="$:getbase()/api/format">List and edit data formats</a></h4>

<h3>Blog</h3>
<h4><a href="$:getbase()/web/addblog">Add a blog entry</a></h4>
<h4><a href="$:getbase()/web/blog?admin=true">Unpublished blog 
    entries</a></h4>
