$def with (form, post, captchaok, sentok)

<h2>Donate data</h2>

$if not post:
  <p>
    Your contribution is very important for us. Please only donate a
    data set that you are allowed to share, either because it is yours,
    or the original author published it under a licence that permits
    it.
  </p>

  <p>
    Please fill the following form to donate your data set. The data
    itself must be placed on an FTP or web server, and you will be asked
    to provide its FTP or Web address below. If you want to send your data
    in email, please leave this field empty and we will contact you.
  </p>

  <p>
    <form action="" method="post" class="donateform" name="form">
      $:form.render()
    </form>
    <script type="text/javascript">
      document.form.focused.focus();
    </script>
  </p>
$else:
  $if not captchaok:
    <p class="error">
      Please type in the two words at the bottom of the form correctly.
      This is required for sending your messsage.
    </p>
    <p>
      <form action="" method="post" class="failedcaptcha">
	$:form.render()
      </form>
    </p>
  $else:
    $if sentok:
      <p>
        Thank you very much for your contribution! We will contact you
        via email once your data set has been added to our database.
      </p>
      <p><a href="$:getbase()/">Return to the start page.</a></p>
    $else:
      <p>
        We experience some technical difficulties right now and cannot send
        your message. Your contribution is very important for us, so please try
        sending it again in a couple of minutes.
      </p>
      <p>
        <form action="" method="post">
       	  $:form.render()
        </form>
      </p>


