$def with (datasets, tags, title, feed, nohits, start, end, limit, user_input, searchvalue)

$if searchvalue is not None:
  $var searchvalue: $searchvalue

$if feed:
  <div class="feed">
    <a href="$feed">
      <img src="/static/images/feed-icon-28x28.png" />
    </a>
  </div>

<div class="title">
<h2>$title</h2>
</div>

<div style="clear:left"></div>

$if len(datasets)==0:
  <p>No data sets found.</p>
$else:
  <p>Results $start - $end out of $nohits.</p>
  <ul class="datasets">
  $for ds in datasets:
    <li>
      <h4>$:link_to_dataset(ds, bullet=u"\u25b6 ")</h4>
      <p class="datasettags">
	$ds.date, $ds.vertices vertices, $ds.edges edges.
	Tags:
	$:", ".join(link_to_tag(tag) for tag in tags[ds.id])
      </p>
      <div class="datasetdescription">
	$:mymarkdown(ds.shortdescription)
      </div>
    </li>
  </ul>

  <div class="prevnexttable">
    $:prevnexttable(nohits, start, end, limit, user_input)
  </div>
