$def with (licences)

$if licences:
  $for lic in licences:
    $if openid.status():
      <div class="feed">
	<form method="get" action="/web/editlicence/$lic.id">
	  <button type="submit" style="margin-left:20px;">
            <h2>Edit</h2>
	  </button>
	</form>
      </div>
    <div class="title"><h2>Licence '$lic.name'</h2></div>
    <div class="licence">
      <p>$lic.text</p>
      $if lic.fulltext:
        <h3>Full text</h3>
        <p>$lic.fulltext</p>
      $if lic.link:
	<h3>URL</h3>
        <p><a href="$lic.link">$lic.link</a></p>
    </div>
