$def with (openidform)

<h2>Login</h2>

<p>
  Registered users must log in with their OpenID to make changes. Right
  now Nexus is not providing user accounts, all changes are made by
  the Nexus team.
</p>

$if openid.status():
  <p>
    You are currently logged in with OpenID
    <strong style="color:red;">$:openid.status()</strong>
    <form method="post" action="/openid">
      <input type="hidden" name="action" value="logout" />
      <input type="hidden" name="return_to" value="/login" />
      <button type="submit">Log out</button>
    </form>
  <p>
$else:
  <p>
    $:openidform
  </p>
