$def with (datasets, tags, title, date, home, link)
<?xml version="1.0"?>
<rss version="2.0">
   <channel>
      <title>$title</title>
      <link>$home/$link</link>
      <description>Repository of network data sets.</description>
      <language>en-us</language>
      <pubDate>$date</pubDate>

      <lastBuildDate>$date</lastBuildDate>
      <generator>Nexus repository</generator>
      <managingEditor>nexus@igraph.org</managingEditor>
      <webMaster>webmaster@igraph.org</webMaster>

      $for ds in datasets
      <item>
         <title>$ds.name</title>
         <link>$home/$url_for_dataset($ds)</link>
         <description><![CDATA[$ds.description]]></description>
         <pubDate>$ds.date</pubDate>
      </item>
    </channel>
</rss>
