include setup.cfg
include src/*.h
include test.py
include MANIFEST.in
include COPYING
include debian/changelog
include debian/control
include debian/rules
include debian/prepare
include scripts/mkdoc.sh

