name: MINGW

# TODO: Check the BRANCHES element when merging the branch 'develop' to, say, 'master'.
on:
  push:
    branches:
      - '**'
      - '!appveyor/**'
      - '!travis/**'
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        arch: ['i686', 'x86_64', 'ucrt-x86_64']
        shared_libs: ['ON', 'OFF']
        include:
          - arch: i686
            msystem: MINGW32
          - arch: x86_64
            msystem: MINGW64
          - arch: ucrt-x86_64
            msystem: UCRT64

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Init ${{ matrix.msystem }}-System
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: git base-devel mingw-w64-${{ matrix.arch }}-cmake mingw-w64-${{ matrix.arch }}-ninja mingw-w64-${{ matrix.arch }}-toolchain mingw-w64-${{ matrix.arch }}-glpk mingw-w64-${{ matrix.arch }}-gmp mingw-w64-${{ matrix.arch }}-libxml2 mingw-w64-${{ matrix.arch }}-suitesparse mingw-w64-${{ matrix.arch }}-lapack
          update: true

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configuration
        run: |
          mkdir -p build-${{ matrix.arch }}
          cd build-${{ matrix.arch }}
          cmake .. -GNinja -DBUILD_SHARED_LIBS=${{ matrix.shared_libs }} -DIGRAPH_GLPK_SUPPORT=ON -DIGRAPH_GRAPHML_SUPPORT=ON -DIGRAPH_ENABLE_TLS=ON -DIGRAPH_VERIFY_FINALLY_STACK=ON -DBLA_VENDOR=Generic -DIGRAPH_PRINT_ARITH_HEADER=ON

      - name: Build
        run: cmake --build . --target build_tests
        working-directory: build-${{ matrix.arch }}
      - name: Test
        run: ctest -j $(nproc) --output-on-failure --timeout 180
        working-directory: build-${{ matrix.arch }}

      - name: Generate Artifacts upon Failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: failure
          path: |
            build-${{ matrix.arch }}/tests/*
            !build-${{ matrix.arch }}/tests/*.exe
