name: MINGW

# TODO: Check the BRANCHES element when merging the branch 'develop' to, say, 'master'.
on:
  push:
    branches:
      - '**'
      - '!appveyor/**'
      - '!travis/**'
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include: [
          { msystem: MINGW32, arch: i686   },
          { msystem: MINGW64, arch: x86_64 }
          ]

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Init ${{ matrix.msystem }}-System
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: git base-devel mingw-w64-${{ matrix.arch }}-cmake mingw-w64-${{ matrix.arch }}-toolchain mingw-w64-${{ matrix.arch }}-glpk mingw-w64-${{ matrix.arch }}-gmp mingw-w64-${{ matrix.arch }}-zlib mingw-w64-${{ matrix.arch }}-libxml2 mingw-w64-${{ matrix.arch }}-suitesparse mingw-w64-${{ matrix.arch }}-lapack
          update: true
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configuration
        run: |
          mkdir -p build-${{ matrix.arch }}
          cd build-${{ matrix.arch }}
          cmake .. -G 'MSYS Makefiles' -DIGRAPH_GLPK_SUPPORT=1 -DIGRAPH_GRAPHML_SUPPORT=1 -DIGRAPH_VERIFY_FINALLY_STACK=1 -DBLA_VENDOR=Generic
      - name: Build
        run: make -j2 build_tests
        working-directory: build-${{ matrix.arch }}
      - name: Test
        run: ctest -j2 --output-on-failure --timeout 180
        working-directory: build-${{ matrix.arch }}
      - name: Generate Artifacts upon Failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: failure
          path: |
            build-${{ matrix.arch }}/tests/**
