
div.example-contents {
  display: none;
}
.example p.title {
  color: blue;
}
.example p.title b:before {
  content: '\25B6\00a0';
}
.example p.title:hover { 
  color: #00f; 
  text-decoration: underline;
  cursor: hand;
}
code {
    background: transparent;
    color: inherit;
}

.navigation-header {
    .text-align: right;
}

.navigation-footer { 
    margin-top: 50px;
}

div.variablelist td { 
    display: table-cell;
    vertical-align: top; 
}

div.variablelist span.term {
    padding-right: 10px;
}

div.authorgroup {
    margin-bottom: 50px;
}
